* {
	/* border: 1px solid goldenrod; */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/* background-color: green; */
	/* background: url(https://i.pinimg.com/736x/80/6a/9b/806a9b182fe9b73685fa0074e1a6c4b1.jpg); */
	background: url(https://miro.medium.com/max/1760/0*caZPEDJcq61DvLAx.);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

header {
	text-align: center;
	height: 5vh;
	color: whitesmoke;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.flex-nav {
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#drawPiles {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#drawPiles .card {
	height: 180px;
	width: 140px;
	border: 1px solid black;
	background-color: white;
	margin: 0 10px;
	font-size: 40px;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	/* align-items: ; */
}

#handPiles {
	height: 60vh;
	/* border: 1px solid gold; */
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	/* justify-content: space-evenly; */
	flex-wrap: wrap;
}

.pile {
	height: 180px;
	width: 560px;
	/* border: 2px solid blue;; */
	margin: 0 auto;
	overflow: auto;
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
}

#handPiles .card {
	height: 180px;
	width: 140px;
	border: 1px solid black;
	background-color: white;
	margin: 0 10px;
	font-size: 40px;
	border-radius: 7px;
	display: flex;
	justify-content: center;
}

.suit-flexContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.suitHearts {
	background: url('./suitSprite.png') no-repeat -112px -4px;
	width: 78px;
	height: 89px;
}

.suitSpades {
	background: url('./suitSprite.png') no-repeat -5px -3px;
	width: 69px;
	height: 91px;
}

.suitDiamonds {
	background: url('./suitSprite.png') no-repeat -7px -106px;
	width: 65px;
	height: 89px;
}

.suitClubs {
	background: url('./suitSprite.png') no-repeat -107px -107px;
	width: 88px;
	height: 87px;
}
h2 {
	text-align: center;
	color: white;
}
.directions-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70%;
}

div #directions {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 540px;
	width: 420px;
}
div .spadesBack {
	background: url('./suitSprite.png');
	background-size: cover;
	width: 300px;
	height: 300px;
}

.card:hover {
	transform: translateY(-4px);
}